/A2RNRNAClassOperator-build-desktop-Qt_4_8_0_for_Desktop_-_MinGW__Qt_SDK__Debug
/A2RNRNAClassOperator/A2RNRNAClassOperator.pro.user
/Pair/Pair.pro.user
/Pair-build-desktop-Qt_4_8_0_for_Desktop_-_MinGW__Qt_SDK__Debug